body{
  background-image: url("https://774429.github.io/Christmas-Ecard/nativity.gif");
  background-repeat: no-repeat;
  
  background-size: 100% 600px
    
}
p1{
  text-align: center;
  font-size: 50px;
  font-family: arial;
  color: red;}
.text-block {
  position: relative;
  bottom: 0%;
  right: 0%;
  background-color: none;
  color: white;
  padding-left: 40%;
  padding-right: 30%;
}
p2{ text-align: center;
  font-size: 50px;
  font-family: arial;
  color: green;}
.text-block {
  position: relative;
  bottom: 40%;
  right: 0%;
  background-color: none;
  color: white;
  padding-left: 40%;
  padding-right: 30%;
}
