.thumb-wrapper {
	position:relative;
}
.thumb-wrapper img{
	width:100%;
	height:auto;	
}
.thumb-wrapper span {
	position:absolute;
	top: 0;
	bottom:0;
	left: 0;
	right:0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent url(img/play-button.png) no-repeat;
	background-position:center;
}
