.mainRunner {
  border: 1px solid #000;
  position: relative;
}

.img1 {
  border: 1px solid #f00;
  position: relative;
  z-index: 1;
}

.img2 {
  border: 1px solid #0f0;
  position: relative;
  z-index: -2;
  top: 120px;
  left: 12px;
  width:500px;
  height:500px;
}
